<!-- 
<nav *ngIf="!storedUser" class="navbar navbar-light bg-light">
  <div class="container-fluid">       
  <a class="navbar-brand">Home</a>       
  <form class="d-flex">         
  <a class="navbar-brand" href="login">LOGIN</a>        
  <a class="navbar-brand" href="register">REGISTER</a>       
  </form></div> 
  </nav> -->



<nav *ngIf="storedUser" class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand1" style="color: black;"> Todo</a>
      <form class="d-flex">
        <button type="button" class="btn btn link" routerLink="/profile">PROFILE</button>
        <button type="button" class="btn btn link"  routerLink="/">LOGOUT</button>
      
          
      </form>
    </div>
  </nav>
