// .navbar{
// position: absolute;
// width: 1440px;
// height: 50px;
// left: 0px;
// top: 0px;
// background: #FFFFFF;
// }
// .container{
//     background-color: #FFFFFF;
     
// }
.m-5{
    background-color: rgba(255, 255, 255, 1);
}
.btn1{
   background-color: black;
    width: 100px;
    color: white;
    

}
.btn{
    background-color: black;
    width: 100px;
    color: white;
   
  
}
h4{
 position: absolute;
}
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}
// @media screen and (max-width: 500px) {     
//     .search-bar{         
//         width: 100%; }      
//         .table{         
//             display: flex;         
//             flex-wrap: wrap;         
//             flex-direction: row;         
//             margin: 0 auto;         
//             overflow: scroll; 
//         } }
@media  screen and (max-width: 800px) {
    .container{
        width: 80%;
        height: 68vh;
    }
    .containers{
        height: 50vh;
    }
    .inner-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    table tr{
        flex-direction: row;
        flex-wrap: wrap;
        width: 50vw;
    }
    .save,.cancel{

        width: auto;
    }
    .edit{
        margin: 0 auto;
    }
}
