<app-nav></app-nav>

    <div class="container m-5 p-2 rounded mx-auto bg-light shadow pt-5">


    
                      <div class="d-flex flex-column align-items-center text-center">
                        <div class="text-center ">
                            <h1 class="circle" >FD</h1>

                        </div>
                      
                        <div class="mt-3">
                          <h4>Fridah Dikobe</h4>
                          <p class="text-secondary mb-1">074 967 4306</p>
                          
          
                        </div>
                      </div>
                    </div>
                