<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">       
    <a class="navbar-brand">Home</a>       
    <form class="d-flex">         
    <a class="navbar-brand" href="login">LOGIN</a>        
    <a class="navbar-brand" href="register">REGISTER</a>       
    </form></div> 
    </nav>

<div class="wrapper">

    <div class="block">

        <form [formGroup]="login" (ngSubmit)="onSubmit()">
 
            <h2>LOGIN</h2>
            <label>Username</label>
            <input type="text" placeholder="Enter Username" class="inp" formControlName="username"/>
            <label>Password</label>
            <input type="password" placeholder="Enter Password" class="inp" formControlName="password"/>
            <div class="btns">
                <button  [disabled]="login.invalid" >Login</button>

            </div>
            <a href="register">
                Don't have an account? Register
            </a>
        </form>
    </div>
</div>


