
    <div class="container m-5 p-2 rounded mx-auto bg-light shadow">
<div class="wrapper">

     <div class="block"> 

         <form [formGroup]="login"> 

            <h2>LOGIN</h2>
            <label>Email</label>
            <input type="text" placeholder="Enter Username" class="inp" formControlName="enter email"/>
            <div class="invalid-feedback">A valid email is required!</div>
                    
            <label>Password</label>
            <input type="password" placeholder="Enter Password" class="inp" formControlName="password"/>
           
                <button class="btn4 me-md-2 col-4" type="button" (click)="loginUser()">Login</button>

                <button type="button" class="btn btn-link free" routerLink="/register">Don't have an account? Register</button>
        </form>
    </div>
</div>
 </div> 


