


form{

    text-align: center;
    align-items: center;
}


// .inp{

//     width: 85%;
//     padding: 10px 15px;
//     margin: 10px ;
// }


h2{
    color: gray;
    font-family: sans-serif;
    font-weight: 600;
}

h6{
    color: gray;
    font-family: sans-serif;
    font-weight: 600;
}

.inp{

    width: 85%;
    padding: 10px 15px;
    margin: 10px ;
}

.btns{
    display:flex;
    width: 100%;
    justify-content:center;
  

}


a{
margin-top: 20px;
text-decoration: none;
}

