<app-nav></app-nav>


<div class="register-form">
<form  [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container m-5 p-2 rounded mx-auto bg-light shadow pt-5">
        <h2>New Item</h2>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          
          <button class="btn1 me-md-2 col-4 rounded" type="submit" routerLink="/search">cancel</button>
          <button class="btn1 me-md-2 col-4 rounded" type="submit" (click)="onSubmit()"   data-toggle="modal" data-target="#centralModalSm">Save</button>

          <!-- Model -->
          <div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                        <!-- Change class .modal-sm to change the size of the modal -->
                        <div class="modal-dialog modal-sm" role="document">


                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title w-100" id="myModalLabel">Item saved</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                               <h6>Successfully added to your todo list</h6>
                               <i class="bi bi-hand-thumbs-up-fill"></i>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" routerLink="/search">OK</button>
                    
                            </div>
                          </div>
                        </div>
                        </div>
          <!-- End of model -->
          
        </div>
    <div class="container col-11">
    <div class="row m-1 p-3">
        <h5>Title</h5>
        <div class="col col-8 mx-auto">
            
            <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                <div class="col">
                    <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text"  formControlName="itemname" placeholder="">
                </div>
                
                
            </div>
        </div>
    </div>
    
    
    <div class="row m-1 p-3">
        <h5>Description</h5>
        <div class="col col-8 mx-auto">
            
            <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                
                <div class="col">
                    <textarea class="form-control" id="exampleFormControlTextarea1"  formControlName="description" rows="3" placeholder=""></textarea>
                </div>
                
            </div>
        </div>
    </div>
    
    
    <div class="row m-1 p-3">
        <h5>Due Date</h5>
        <div class="col col-8 mx-auto">
            <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                <div class="col">
                    <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded"  formControlName="duedate" type="date" placeholder="29/04/2022">
                </div>
                <div class="col-auto m-0 px-2 d-flex align-items-center">
                    <label class="text-secondary my-2 p-0 px-1 view-opt-label due-date-label d-none">Due date not set</label>
                    <i class="fa fa-calendar my-2 px-1 text-primary btn due-date-button" data-toggle="tooltip" data-placement="bottom" title="Set a Due date"></i>
                    <i class="fa fa-calendar-times-o my-2 px-1 text-danger btn clear-due-date-button d-none" data-toggle="tooltip" data-placement="bottom" title="Clear Due date"></i>
                </div>
                <div class="col-auto px-0 mx-0 mr-2">
                    
                </div>
            </div>
        </div>
    </div>
    
    </div>
    </div>
</form>
</div>

<!-- {{dummy}} -->